<body>
    <app-nav></app-nav>

    <div class="searchContainer">
        <input type="text" placeholder="Ingrese Nombre, Apellido, o Matrícula del médico" [(ngModel)]="searchTerm"
          (ngModelChange)="filterMedics()" (keydown.enter)="onSearchEnter()" class="searchBar" />
      </div>

    <div class="medicListStyle">
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Matricula</th>
                </tr>
            </thead>
            <tbody>
                <tr class= "medicStyle" *ngFor="let medic of filteredMedics.length > 0 ? filteredMedics : medicList"
                    (click)="selectMedic(medic)">
                    <td>{{ medic.firstName }}</td>
                    <td>{{ medic.lastName }}</td>
                    <td>{{ medic.matricula }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="medicInfo" *ngIf="selectedMedic">
        <h3>Información del Médico</h3>
        <p><strong>Nombre:</strong> {{ selectedMedic.firstName }}</p>
        <p><strong>Apellido:</strong> {{ selectedMedic.lastName }}</p>
        <p><strong>Matrícula:</strong> {{ selectedMedic.matricula }}</p>
        <p><strong>Email:</strong> {{ selectedMedic.email }}</p>
        <p><strong>Teléfono:</strong> {{ selectedMedic.phone }}</p>
    </div>
    
</body>