<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>AtlanticHealth</title>
</head>

<body>

    <div class="container" [class.active]="isActive" id="container">
        <div class="form-container sign-up">
            <form [formGroup]="adminLogInForm" (ngSubmit)="onSubmitAdmin()">
                <h1>Admin LogIn</h1>
                <div class="welcome-message">
                    <p>Porfavor Ingresar id y contraseña admin</p>
                </div>
                <input type="text" placeholder="adminId" formControlName="adminId">
                <input type="password" placeholder="Contraseña" formControlName="password">
                <button type="submit" [disabled]="!adminLogInForm.valid">Iniciar Sesion</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form [formGroup]="medicLogInForm" (ngSubmit)="onSubmitMedic()">
                <h1>Medic LogIn</h1>
                <div class="welcome-message">
                    <p>Ingresá tu matricula y contraseña para acceder</p>
                </div>
                <input type="text" placeholder="Matricula" formControlName="matricula">
                <input type="password" placeholder="Contraseña" formControlName="password">
                <button type="submit" [disabled]="!medicLogInForm.valid">Inicia Sesión</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Medic LogIn</h1>
                    <button type="button" (click)="deactivateContainer()"><-Medic LogIn</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Admin LogIn</h1>
                    <button type="button" (click)="activateContainer()">Admin LogIn -></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>