<app-nav></app-nav>
<br><br><br><br>
<form [formGroup]="appointmentForm" class="backgroundStyle" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3 medicPatientStyle">
    <label class="input-group-text" for="inputGroupSelect01">Medico</label>
    <select class="form-select" id="inputGroupSelect01" formControlName="matricula">
      <option value="" disabled selected>Elegir Medico</option>
      <option *ngFor="let medic of medicList" [value]="medic.matricula">
        {{ medic.firstName }} {{ medic.lastName }}
      </option>
    </select>
  </div>

  <div class="input-group mb-3 medicPatientStyle">
    <label class="input-group-text" for="inputGroupSelect02">Paciente</label>
    <select class="form-select" id="inputGroupSelect02" formControlName="dni">
      <option value="" disabled selected>Elegir Paciente</option>
      <option *ngFor="let patient of patientList" [value]="patient.dni">
        {{ patient.firstName }} {{ patient.lastName }}
      </option>
    </select>
  </div>

  <div class="form-field-row">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <div class="hour-and-button" *ngIf="appointmentForm.get('matricula')?.value && appointmentForm.get('dni')?.value">
      <select class="form-select" formControlName="hour">
        <option value="" disabled selected>Hora</option>
        <option *ngFor="let hour of updatedHours" [value]="hour">{{ hour }}</option>
      </select>
  
      <button type="submit" [disabled]="!appointmentForm.valid" mat-raised-button color="primary" class="custom-button">
        Sacar Turno
      </button>
    </div>
  </div>

  <div class="row" *ngIf="!matricula?.valid && (matricula?.dirty || matricula?.touched)">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert" *ngIf="matricula?.errors?.['required']">
        Doctor requerido
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!dni?.valid && (dni?.dirty || dni?.touched)">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert" *ngIf="dni?.errors?.['required']">
        Paciente requerido
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!date?.valid && (date?.dirty || date?.touched)">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert" *ngIf="date?.errors?.['required']">
        Fecha requerida
      </div>
    </div>
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert" *ngIf="date?.errors?.['checkDate']">
        No se puede introducir fechas del pasado
      </div>
    </div>
  </div>
  
</form>

<div class="calendar">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>