.backgroundStyle {

    background-color: rgb(229, 239, 248);
    display: inline-block;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: auto;
    max-width: 150%;
    max-height: 600px;
    position: absolute;
    margin-top: 8%;
    top: 27%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.medicPatientStyle {
    left: 2%;
    width: 60%;
    position: relative;
}

.calendar {
    position: absolute;
    display: inline-block;
    top: 0%;
    right: 4%;
    margin-top: 7%;
    width: 40%;
    height: 21%;
    transform-origin: top left;
}

.hourStyle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}

.form-field-container {
    position: relative;
    left: 2%;
}

.form-field-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-left: 2%;
}

.custom-button:hover {
    cursor: pointer;
}

.hour-and-button {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-left: 20px; 
    width: 30%;
}

.custom-button {
    border-radius: 5px; 
    background-color: #6200ea;
    color: white;
    font-size: 12px;
    font-style: bold;
    border: none;
    padding: 5px 10px; 
    height: 38px; 
    min-width: 90px; 
    line-height: normal; 
    transition: background-color 0.3s ease;
    text-align: center; 
}
