<!-- <nav class="navbarNav">
  <div class="navbarNav-content">
      <a href="#" class="navbarNav-brand">Atlantic Health</a>
      <ul class="navbarNav-nav">
        <li class="nav-item"><a [routerLink]="[ '/add-patient']">Agregar Paciente </a></li>
        <li class="nav-item"><a [routerLink]="[ '/add-medic']">Agregar Medico</a></li>
        <li class="nav-item"><a [routerLink]="[ '/list-medics']">Mostrar Medicos</a></li>
        <li class="nav-item"><a [routerLink]="[ '/list-patients']">Mostrar Pacientes</a></li>
        <li class="nav-item"><a [routerLink]="[ '/add-appointment']">Generar Turno</a></li>
      </ul>
  </div>
</nav> -->



<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Atlantic Health</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Atlantic Health</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active home-link" aria-current="page" href="#">Home</a>
          </li>
          <br>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pacientes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/list-patients']">Ver pacientes</a></li>
              <li><a class="dropdown-item" [routerLink]="['/add-patient']">Agregar un paciente</a></li>
            </ul>
          </li>
          <br>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Médicos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/list-medics']">Ver médicos</a></li>
              <li><a class="dropdown-item" [routerLink]="['/add-medic']">Agregar un médico</a></li>
            </ul>
          </li>
          <li><a class="dropdown-item" [routerLink]="['/add-appointment']">Generar Turnos</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>



