<app-nav></app-nav>
<br><br><br><br>
<div class="backgroundStyle">
<div class="input-group mb-3 medicPatientStyle">
  <label class="input-group-text" for="inputGroupSelect01">Options</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Elegir Medico</option>
    <option *ngFor="let medic of medicList" value="{{medic.matricula}}">{{ medic.firstName }} {{medic.lastName}}</option>
  </select>
</div>

<div class="input-group mb-3 medicPatientStyle ">
  <label class="input-group-text" for="inputGroupSelect02">Options</label>
  <select class="form-select" id="inputGroupSelect02">
    <option selected>Elegir Paciente</option>
    <option *ngFor="let pacient of patientList" value="{{pacient.dni}}">{{ pacient.firstName }} {{pacient.lastName}}
    </option>
  </select>
</div>
</div>
<div class="calendar">
  <full-calendar
  [options]="calendarOptions"
  [events]=""
></full-calendar>
</div>