body {
    overflow: auto;  
    margin: 0;       
    height: 100vh;    
  }
  
  .appointmentListStyle {
    background-color: transparent;
    margin-top: 2%;
    margin-right: 1%;
    max-height: calc(100vh - 150px);  
    overflow-y: auto;
    overflow: auto;           
    padding-bottom: 25px;
    height: auto;
  }
  
  
  .title {
    margin-top: 7%;
  }
  
  .common-margin-left {
    margin-left: 1%;
  }
  .appointments:hover
  {
    border: solid 1px black;
    cursor: pointer;
  }
  