<app-nav></app-nav>
<br><br>
<div class="formBox">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="formField">
            <strong>DNI:</strong>
            <input type="text" name="dni" formControlName="dni">
        </div>
        <div class="formField">
            <strong>Nombre:</strong>
            <input type="text" name="firstName" formControlName="firstName">
        </div>
        <div class="formField">
            <strong>Apellido:</strong>
            <input type="text" name="lastName" formControlName="lastName">
        </div>
        <div class="formField">
            <strong>Fecha de Nacimiento:</strong>
            <input type="text" name="birthDate" formControlName="birthDate">
        </div>
        <div class="formField">
            <strong>Dirección:</strong>
            <input type="text" name="address" formControlName="address">
        </div>
        <div class="formField">
            <strong>Email:</strong>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="formField">
            <strong>Teléfono:</strong>
            <input type="text" name="phoneNumber" formControlName="phone">
        </div>
        <div class="formField">
            <strong>Obra Social:</strong>
            <input type="text" name="insurance" formControlName="insurance">
        </div>
        <button type="submit" class="buttonClass buttonConfirmar" [disabled]="!patientForm.valid">Agregar</button>
        <button type="reset" class="buttonClass buttonCancelar">Cancelar</button>
    </form>
</div>
