.formBox {
    border: 0,8px solid black;
    background-color: rgb(229, 239, 248);
    display: inline-block;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    height: 70%;
    max-width: 150%; 
    max-height: 600px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px; /* Espacio entre columnas */
    row-gap: 20px; /* Espacio entre filas */
}

.formField {
    display: flex;
    flex-direction: column;
}

.formBox input[type="text"] {
    width: 90%;
    padding: 3px; 
    font-size: 14px;
    margin-top: 5px;
}

.buttonClass {
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    cursor: pointer;
    width: 48%; 
    text-align: center;
}

.buttonCancelar, .buttonConfirmar {
    background-color: #512da8;
    color: white;
    width: 20%;
}

.buttonClass:hover {
    background-color: rgb(178, 209, 228);
}

/*
.buttonContainer {
    display: flex;
    justify-content: space-between;
}*/


