<app-nav></app-nav>


<br><br>
<br><br>
<div class="appointmentForm">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
          <h3 class="card-title">Paciente: {{appointment.patientName}}</h3>
          <h6 class="card-subtitle mb-2 text-body-secondary">Medico: {{appointment.medicName}}</h6>
          <p>Fecha: {{appointmentDate}}</p><p> Hora:{{appointment.hour}}</p>
          <p>Estado: {{appointment.State}}</p>
        </div>
      </div>

    <div class="form-group mt-4">
    <label for="report">Informe Médico</label>
    <textarea
      id="report"
      [(ngModel)]="report"
      class="form-control"
      placeholder="Escribe el informe aquí..."
      rows="5"
    ></textarea>
  </div>

  <button class="btn btn-primary mt-3" (click)="saveAttendance()">Guardar Atención</button>
</div>