<app-nav></app-nav>
<br><br><br>
<div class="formStyle">
    <form>
        <strong>Nombre: </strong><input type="text" name="name">
        <br><br>
        <strong>Apellido: </strong><input type="text" name="lastName">
        <br><br>
        <strong>Email: </strong><input type="email" name="email">
        <br><br>
        <strong>Telefono: </strong><input type="number" name="phone">
        <br><br>
        <strong>Constraseña: </strong><input type="password" name="password">
    </form>
</div>