<app-nav></app-nav>

<h1>Agregar nuevo Medico</h1>
<br><br><br>
<div class="formBox">
    <form class="formStyle">
        <strong>Nombre: </strong><input type="text" name="name">
        <br><br>
        <strong>Apellido: </strong><input type="text" name="lastName">
        <br><br>
        <strong>Email: </strong><input type="email" name="email">
        <br><br>
        <strong>Telefono: </strong><input type="number" name="phone">
        <br><br>
        <strong>Constraseña: </strong><input type="password" name="password">
        <br><br>
        <button type="submit" class="buttonClass buttonConfirmar">Agregar</button><button type="reset" class="buttonClass buttonCancelar">Cancelar</button>
    </form>
</div>